// Colors
$grey: #575757;
$grey-light: #ccc;
$grey-dark: #333;
$black: #111;
$white: #fff;
$offWhite: #f1f1f1;
$blue: #369;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;

// Font Colors
$fontColor: $offBlack; // Main Body Content font color
$linkColor: $blue; // Main Body content link color

// Backgroung Color
$backgroundColor: $offWhite; // Main Background Color

// Heading Colors
$headingFontColor: $grey-dark; // Default Heading Font Color
$headerFontColor: $grey-dark; // Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

// User Tools Colors
$topBarColor: $light-grey; // User Tools background color
$userToolsLinkColor: $black; // Link Color for user tools

// Navigation Colors
$navLinkColor: $grey-dark; //Font Color for main navigation
$navLinkHover: $black; //Font Hover for main navigation

$navSelected: $black;

$subNavLinkColor: $grey; //Font Color for sub navigation
$subNavLinkHover: $light-grey; //Font Color for sub navigation hover
$subNavBackgroundColor: $grey-lightest; //Background Color for sub navigation

// Footer Colors
$footerColor: $grey; //Footer Color
$footerLink: $light-grey; // Footer Link
$footerLinkHover: $white; // Footer Link Hover

$footerFontColor: $grey-dark; //Font Color outside the container
$footerFontColorHover: $black; // Hover font color outside the container

// Border Colors
$borderColor: $bordergrey; // Main Border Color

// Button Colors
$mainButtonColor: $green; // Main Button Color
$mainButtonHover: $light-green; // Main Button Hover
$mainButtonText: $white; // Main Button Font Color

$secondButtonColor: $light-grey; // Secondary Button Color
$secondButtonHover: $grey-lightest; // Secondary Button Hover
$secondButtonText: $black; // Secondary Button Font Color

// Form Colors
$quanityForm: $light-grey; // Add to cart quanity input form field background color.
$quanityFormFont: $black; // Add to cart quanity input form field font color.

// Back to Top Colors
$backToTop: $grey-dark; // Back to top button color
$backToTopFont: $white; // Back to top button font color

// Logo Settings
$logo: 'logo.png';
$logo-retina: 'logo@2x.png';